---
import { cn } from "@repo/tailwind";
import { buttonVariants } from "@repo/ui/Button";
import { ChevronLeft, ChevronRight, ChevronsLeft, ChevronsRight } from "@repo/ui/icons";

interface Props {
    currentPage: number;
    totalPages: number;
    paginationNumbers: number[];
    baseUrl?: string;
}

const { currentPage, totalPages, paginationNumbers, baseUrl = "/?page=" } = Astro.props;
---

<div class="flex gap-2 justify-center">
    {currentPage <= 1 ? (
        <span class={buttonVariants({ variant: "outline", size: "icon-sm", className: "opacity-50 pointer-events-none" })}>
            <ChevronsLeft className="size-4" />
        </span>
    ) : (
        <a href={`${baseUrl}1`} class={buttonVariants({ variant: "outline", size: "icon-sm" })}>
            <ChevronsLeft className="size-4" />
        </a>
    )}
    {currentPage <= 1 ? (
        <span class={buttonVariants({ variant: "outline", size: "icon-sm", className: "opacity-50 pointer-events-none" })}>
            <ChevronLeft className="size-4" />
        </span>
    ) : (
        <a href={`${baseUrl}${currentPage - 1}`} class={buttonVariants({ variant: "outline", size: "icon-sm" })}>
            <ChevronLeft className="size-4" />
        </a>
    )}
    {paginationNumbers.map((num) => (
        <a 
            href={`${baseUrl}${num}`}
            class={cn(
                buttonVariants({ variant: currentPage === num ? "default" : "outline", size: "icon-sm" }),
                Math.abs(currentPage - num) > 1 && "hidden sm:inline-flex"
            )}
        >
            {num}
        </a>
    ))}
    {currentPage >= totalPages ? (
        <span class={buttonVariants({ variant: "outline", size: "icon-sm", className: "opacity-50 pointer-events-none" })}>
            <ChevronRight className="size-4" />
        </span>
    ) : (
        <a href={`${baseUrl}${currentPage + 1}`} class={buttonVariants({ variant: "outline", size: "icon-sm" })}>
            <ChevronRight className="size-4" />
        </a>
    )}
    {currentPage >= totalPages ? (
        <span class={buttonVariants({ variant: "outline", size: "icon-sm", className: "opacity-50 pointer-events-none" })}>
            <ChevronsRight className="size-4" />
        </span>
    ) : (
        <a href={`${baseUrl}${totalPages}`} class={buttonVariants({ variant: "outline", size: "icon-sm" })}>
            <ChevronsRight className="size-4" />
        </a>
    )}
</div>